body {
  text-align: center;
  background-color: #003c4e;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 1px 0 #00455a;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url('images/crash.png');
}

.a {
  background-image: url('images/kick.png');
}

.s {
  background-image: url('images/snare.png');
}

.d {
  background-image: url('images/tom1.png');
}

.j {
  background-image: url('images/tom2.png');
}

.k {
  background-image: url('images/tom3.png');
}

.l {
  background-image: url('images/tom4.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  border: none;
  outline: none;
  /* background: linear-gradient(-145deg, #3ad1ff, #004053); */
  box-shadow: inset -2px -2px 5px #00455a,
    inset 5px 5px 5px #003342;
  animation: none;
}

.red {
  color: red;
}

.drum {
  position: relative;
  outline: none;
  border: none;
  box-shadow: -2px -2px 5px #00455a,
    5px 5px 5px #003342;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  color: #DA0463;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  bottom: 15%;
  /* background: linear-gradient(145deg, #8ce8ff, #00848d); */
}


.drum:hover {
  color: #3ad1ff;
  animation: shadow-pulse 1s alternate infinite;
}

.drum:focus,
.drum:active,
.active {
  border: none;
  outline: none;
  /* background: linear-gradient(-145deg, #3ad1ff, #004053); */
  box-shadow: inset -2px -2px 5px #00455a,
    inset 5px 5px 5px #003342;
  animation: none;
}

.btn-wrapper {
  outline: none;
  border: none;
  box-shadow: -2px -2px 5px #00455a,
    5px 5px 5px #003342;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  border-radius: 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background: linear-gradient(145deg, #003646, #004053);
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0px 0px rgba(145, 92, 182, .4);
  }

  100% {
    box-shadow: 0 5px 35px #8ce8ff;
  }
}